<h1>{{'fiaMedKnuff' | translate}}</h1>
<ul class="m-button-nav">
  <li class="m-button-nav-item"><a href="/new-game">{{'startNewGame' | translate}}</a></li>
  <li class="m-button-nav-item"><a href="/load-game">{{'loadGame' | translate}}</a></li>
  <li class="m-button-nav-item"><a href="/player">{{'player' | translate}}</a></li>
  <li class="m-button-nav-item"><a href="/settings">{{'settings' | translate}}</a></li>
  <li class="m-button-nav-item"><a href="/rules">{{'rules' | translate}}</a></li>
</ul>  